<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Description</th>
    <th>Stock</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.unitPrice | currency: 'EUR'}}</td>
    <td>{{product.description}}</td>
    <td>{{product.unitInStock}}</td>
  </tr>
  </tbody>
</table>
<ul class="pagination center-align">
  <li class="waves-effect" (click)="setPageNo(currentPage - 1)"><i class="material-icons">chevron_left</i></li>
  <li>{{currentPage + 1}}</li>
  <li class="waves-effect" (click)="setPageNo(currentPage + 1)"><i class="material-icons">chevron_right</i></li>
</ul>
